<!-- HELLO {{ title }}



<app-mon-deuxieme-composant (emissionValeur)="receptionEmissionValeur($event)"></app-mon-deuxieme-composant>

<app-mon-troisieme-composant></app-mon-troisieme-composant>

 -->

<!-- <app-mon-quatrieme></app-mon-quatrieme>

<app-mon-cinquieme></app-mon-cinquieme> -->

<!-- <app-mon-premier-composant [monTitre]="title"></app-mon-premier-composant> -->
<!--
<a routerLink="mon-premier/quatrieme">
  <button> Naviguer vers 4eme component </button>
</a>

<a (click)="allerVersReunion()">
  <button> Naviguer vers 5eme component </button>
</a>

<a routerLink="mon-premier/sixieme">
  <button> Naviguer vers 6eme component </button>
</a>


<router-outlet>
</router-outlet> -->

<app-nav></app-nav>