<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Navigation</mat-toolbar>

    <mat-nav-list>
      <div *ngFor="let route of nestedDataSource.data">
        <a mat-list-item [routerLink]="route.path">{{ route.label }}</a>
        <mat-list-item *ngFor="let child of route.children" [routerLink]="child.path">
          <span mat-line style="font-size: small;">{{ child.label }}</span>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div style="margin-right: 200px">
        <span>MonPremierProjetAngular</span>
      </div>

      <div *ngIf="!authService.isLoggedIn(); else userLoggedIn">
        <button mat-button color="accent" routerLink="login">Connexion</button>
      </div>

      <ng-template #userLoggedIn>
        <span> {{ authService.currentUserEmail }}</span>
        <button mat-button color="accent" (click)="authService.logout()">Déconnexion</button>
      </ng-template>


    </mat-toolbar>

    <!-- Add Content Here -->
    <div class="my-nav-container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>