<ng-container *ngIf="ready">

    <h1>{{ tutorial.name }} - {{ partIndex + 1 }} / {{ tutorial.parts.length }} -
        {{ 'Durée : ' + (expectedDuration / 60).toFixed(0) + ' minutes' }}

    </h1>
    <h2> {{ tutorial.parts[partIndex].name }}
        <ng-container *ngIf="tutorial.parts[partIndex].isSecondaryNotion"> <em> - (Optionnel)</em> </ng-container>
    </h2>

    <div style="display:flex">
        <div class="tuto-part-previous-or-next-div" style="float: left">
            <ng-container *ngIf="hasPreviousPart()">
                <a [routerLink]="'../' + previousIndex()">
                    <div class="tuto-part-container">
                        <mat-icon>skip_previous</mat-icon> {{ previousPart().name }}
                    </div>
                </a> </ng-container>
        </div>
        <div class="tuto-part-previous-or-next-div" style="float:right">
            <ng-container *ngIf="hasNextPart()"> <a [routerLink]="'../' + nextIndex()">
                    <div class="tuto-part-container">
                        <mat-icon>skip_next</mat-icon> {{ nextPart().name }}
                    </div>
                </a>
            </ng-container>
        </div>
    </div>

    <br />


    <markdown [src]="currentPartMarkdownPath"></markdown>


    <div style="display:flex">
        <div class="tuto-part-previous-or-next-div" style="float: left">
            <ng-container *ngIf="hasPreviousPart()">
                <a [routerLink]="'../' + previousIndex()">
                    <div class="tuto-part-container">
                        <mat-icon>skip_previous</mat-icon> {{ previousPart().name }}
                    </div>
                </a> </ng-container>
        </div>
        <div class="tuto-part-previous-or-next-div" style="float:right">
            <ng-container *ngIf="hasNextPart()"> <a [routerLink]="'../' + nextIndex()">
                    <div class="tuto-part-container">
                        <mat-icon>skip_next</mat-icon> {{ nextPart().name }}
                    </div>
                </a>
            </ng-container>
        </div>
    </div>
</ng-container>