<mat-card>
  <mat-card-header>
    <mat-card-title>Les tableaux</mat-card-title>
    <mat-card-subtitle>Enumerer des listes d'objets dans Angular.</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<!-- merger dans tableau -->

<p>mon-deuxieme-composant works! : {{ monPremierService.test }}</p>

<div *ngFor="let language of languagesInformatiques">
  <h1> Language : {{ language.name }} </h1>
  <div *ngFor="let champApplication of language.champsApplication">
    <p> Champ Application : {{ champApplication }}</p>
  </div>
</div>

<button (click)="emettreValeur()">Emettre Valeur</button>