<div class="my-spacer">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Les formulaires</mat-card-title>
            <mat-card-subtitle>Transmettre des données client via des champs de saisie.</mat-card-subtitle>
        </mat-card-header>

    </mat-card>
</div>

<div class="my-spacer">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Inscription</mat-card-title>
            <mat-card-subtitle>Renseigner les données du formulaire.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="my-spacer">


                <form class="example-form">
                    <p>
                        <mat-form-field class="example-full-width input-300px myInputWithBackgroundColor">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput [formControl]="formGroup.controls.email"
                                placeholder="Ex. pat@example.com">
                            <mat-hint>Indication via mat-hint</mat-hint>

                            <mat-error
                                *ngIf="formGroup.controls.email.hasError('email') && !formGroup.controls.email.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="formGroup.controls.email.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput [formControl]="formGroup.controls.password"
                                placeholder="Password">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="example-full-width">
                            <mat-label>Confirm Password</mat-label>
                            <input type="password" matInput [formControl]="formGroup.controls.confirmPassword"
                                placeholder="Confirm">
                        </mat-form-field>
                    </p>

                    <div class="example-button-row">
                        <button mat-button (click)="submitForm()" [disabled]="!formGroup.valid">Submit</button>
                    </div>
                </form>

                <div *ngIf="formGroup.invalid" style="color: red">

                    <div *ngIf="formGroup.controls.email.errors">
                        <div *ngIf="formGroup.controls.email.errors['required']">
                            Veuillez renseigner le mail
                        </div>
                    </div>

                    <div *ngIf="formGroup.controls.password.errors">
                        <div *ngIf="formGroup.controls.password.errors['required']">
                            Veuillez renseigner le mot de passe
                        </div>
                        <div *ngIf="formGroup.controls.password.errors['passwordStrength']">
                            Veuillez renseigner un mot de passe content une lettre minuscule, une lettre majuscule et un
                            chiffre.
                        </div>
                        <div *ngIf="formGroup.controls.password.errors['passwordMismatch']">
                            Les mots de passe ne correspondent pas.
                        </div>

                    </div>

                    <div *ngIf="formGroup.controls.confirmPassword.errors">
                        <div *ngIf="formGroup.controls.confirmPassword.errors['required']">
                            Veuillez renseigner la confirmation du mot de passe
                        </div>
                        <div *ngIf="formGroup.controls.confirmPassword.errors['passwordStrength']">
                            Veuillez renseigner un mot de passe content une lettre minuscule, une lettre majuscule et un
                            chiffre.
                        </div>
                    </div>
                </div>


            </div>
        </mat-card-content>
    </mat-card>
</div>





<!--
  <div [formGroup]="formGroup">
  
    <label for="email">E-Mail : </label>
    <input id="email" type="text" formControlName="email">
  
    <label for="password">Mot de passe : </label>
    <input id="password" type="password" formControlName="password">
  
    <label for="confirmPassword">Confirmer le mot de passe : </label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword">
  
    <button type="submit" [disabled]="!formGroup.valid" (click)="submitForm()">Submit</button>
  
  
  </div> -->