<div class="my-spacer">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Les services</mat-card-title>
            <mat-card-subtitle>Faire communiquer des données avec Angular via les services.</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>

<div class="my-spacer">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Composant émetteur</mat-card-title>
            <mat-card-subtitle>Envoie.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="my-spacer">
                <app-example-service-emetteur></app-example-service-emetteur>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="my-spacer">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Composant récepteur</mat-card-title>
            <mat-card-subtitle>Reçoit.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="my-spacer">
                <app-example-service-recepteur></app-example-service-recepteur>
            </div>
        </mat-card-content>
    </mat-card>
</div>