/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$inputBackgroundColor: rgb(237, 232, 218);
$inputSize: 300px;
.input-300px {
  width: $inputSize;
}

.explication-div{
  background-color: aliceblue;
  font-weight: bold;
}

.my-spacer{
  margin-bottom: 10px;
}
